.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.list-group-item {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
}

.list-group-item:last-child {
    border-bottom: none;
}

.custom-todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    /* 원하는 가로 크기로 조정합니다. */
    margin: 0 auto;
    /* 가운데 정렬을 위해 auto로 설정합니다. */
}